body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-image: url('image/merry_christmas.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

header {
    background: linear-gradient(#700, #c00);
    padding: 20px 0px;
    width: 100%;
    color: white;
}

h1 {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: #228B22;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer {
    background: linear-gradient(360deg, #700, #c00);
    font-size: 1.2em;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    color: white;
}
